*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.full-w-h {
    height: 100vh;
}


/* login page  */
.login-page{
    background-image: linear-gradient(180deg, #fff 10%, #224abe 100%);
}
.login-page .main-div{
    width: 30rem;
    margin: 0 auto;
    min-height: 100vh;
    align-items: center;
    padding: 30px 0;
}


/* register page  */
.register-page{
    background-image: linear-gradient(135deg, #fff 10%, #224abe 100%);
}
.register-page .main-div{
    width: 50rem;
    margin: 0 auto;
    min-height: 100vh;
    align-items: center;
    padding: 30px 0;
}

/* forgetpassword page  */
.forgetpassword-page{
    background-image: linear-gradient(270deg, #fff 10%, #224abe 100%);
}
.forgetpassword-page .main-div{
    width: 40rem;
    margin: 0 auto;
    min-height: 100vh;
    align-items: center;
    padding: 30px 0;
}




@media (max-width: 576px) {
    .login-page .main-div{
        width: 100%;
    }
    .register-page .main-div{
        width: 100%;
    }
    .forgetpassword-page .main-div{
        width: 100%;
    }
}





.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 250px;
    overflow-y: auto;
    transition: 0.5s;
    z-index: 999;
}

.sidebar .nav-item .nav-link {
    padding: 0.2rem 1rem;
}

.sidebar-menu {
    overflow-y: auto;
}



#content-wrapper {
    margin-left: 250px;
    min-height: 100vh;
}



label {
    margin-bottom: 0;
    margin-left: 5px;
    font-size: 0.9rem;
}

.submit-btns {
    margin: 15px 0;
}

table thead  {
    background-color: #5a5c69;
    color: #fff;
}
table tbody tr:nth-child(even) {
    background-color: #D6EEEE;
}
table tbody td{
    color: #1d1e1e;
}
table tr button.btn{
    padding: 2px 5px;
}


.flow-diagram .parentNodeL1::before{
    content: "|--";
    padding-left: 10px;
    padding-right: 2px;
}
.flow-diagram .parentNodeL2::before{
    content: "|--";
    padding-left: 35px;
    padding-right: 2px;
}

/* select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
} */
select option.parentNodeL1{
    padding: 10px;
}
select option.parentNodeL1::before{
    content: "|--";
    padding-left: 10px;
    padding-right: 2px;
}
select option.parentNodeL2::before{
    content: "|--";
    padding-left: 35px;
    padding-right: 2px;
}

.filter-form .search-list{
    position: absolute;
    background: #fff;
    padding: 5px;
    box-shadow: 0px 4px 5px 0px;
    border-radius: 4px;
    display: none;
}
.filter-form .search-list .search-ul-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.filter-form .search-list .search-ul-list li{
    margin: 4px 0;
    padding: 0 10px;
    cursor: pointer;
}
.filter-form .search-list .search-ul-list li:hover{
    margin: 4px 0;
    padding: 0 10px;
    cursor: pointer;
    border-radius: 4px;
    background-color: #dfdfdf;
}
.filter-form .search-list .search-ul-list li.ss-list span{
    font-size: 0.8rem;
    margin-left: 5px;
}
.filter-form .search-list .search-ul-list li.ss-list span.user_name{
    font-size: 1rem;
}